@use '../abstracts' as *;
.hero-section {
	background-color: #f5f5f5;
	color: #222;
	padding: 50px 0;
	.hero-heading {
		font-size: 2.5rem;
	}
	margin: 6rem;
	text-align: center;
	button {
		margin-top: 1rem;
	}
	@media (min-width: 786px) {
		.hero-heading {
			font-size: 3rem;
		}
	}
}
